---
import { Image } from 'astro:assets'
const { foto = '', title = '' } = Astro.props
---

<div
	class="relative w-full max-w-[360px] shadow-2xl shadow-neutral-950 sm:w-[50%] lg:w-[45%] lg:max-w-md xl:w-[40%] xl:max-w-lg"
>
	<h1
		class="absolute -top-6 left-1/2 -translate-x-1/2 text-5xl font-medium sm:-left-16 sm:top-3 sm:translate-x-0 sm:text-6xl lg:-left-20 lg:text-7xl 2xl:-left-28 2xl:text-8xl"
	>
		{title}
	</h1>
	<Image src={foto} class="w-full rounded border-cream" alt="Camera cu tablou" />
</div>
